.bagImg{
    width: 178px;
    height: 129px;
    position: absolute;
    top: 50px;
    left: 40px;
}
.wish{
    height: 322px;
    margin: 50px auto;
}
.discount{
    position: absolute;
    top: 10px;
    left: 10px;
width: 55px;
height: 26px;
padding: 2px 2px 10px 10px;
background-color: rgba(219, 68, 68, 1);
color: white;
border-radius:4px;
}
.cartsBtn{
width: 270px;
height: 40px;
position: absolute;
top: 220px;
color: white;
background-color: black;
}