.borders{
width: 1305px;
height: 781px;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
border: 1px solid red;
}
.wid{
    width: 100%;
}
.imgm{
width: 805px;
height: 781px;
}
.acc{
width: 371px;
height: 326px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
margin: 0 auto;
border: 1px solid red;
}
.in{
    border: none;
}